
 body{
background-color: rgb(30, 15, 15);

}
.button1{
width: 80px;
background-color:brown; 
color: white; 
border: none; 
padding: 10px 12px; 
font-size: 16px; 
cursor: pointer;
border-radius: 5px;
}

.navbar {
    display: flex;
    align-items: center;
    width: 300px;
    
    gap: 200px;
}

.navbar img:first-child {
    margin-right: auto; 
}

.navbar button {
    margin-left: auto; 
}

.btns{
    display: flex;
    gap: 20px;
}


.btn2:hover {
    background-color: brown;
    border: none; 
    color: white; 
    
}

.btn2 {
    transition: background-color 0.3s, border 0.3s; 
    cursor: pointer;
    background: none;
    color: white;
    border: 0cap;
    font-size: 18px;
    
}


input{
    border: 1px solid black;
    background-color: aliceblue;
    
}


.meal-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    display: inline-block;
    text-align: center;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.meal-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.meal-card h3 {
    font-size: 18px;
    margin-top: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#alphabetButtons {
    margin-top: 20px;
}

.alphabet-btn {
    background-color:#f9f9f9;
    margin: 5px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    color:orangered;
    font-size: 18px;
    font-weight: 700;
}
